#team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  margin-top: 80px;
  margin-bottom: 60px;
  background-color: #F8FAFC;
  h1 {
    margin-bottom: 20px;
  }
}
.team-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-top: 32px;
  &:nth-of-type(5) {
    width: 53%;
    @media screen and (max-width: 900px) {
      width: 80%;
    }
  }
}
@media screen and (max-width: 1200px) {
  .team-row {
    width: 80%;
  }
}
.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 24px;
  img {
    filter: grayscale(100%);
    object-fit: scale-down;
    width: 150px;
    margin-bottom: 16px;
    z-index: 2;
    &.small {
      width: 136px;
      padding-top: 10px;
    }
  }
  &:hover {
    .first {
      transform: translate(-91px, -29px);
      z-index: 10;
    }
    .second {
      transform: translate(-63px, -93px);
      z-index: 10;
    }
  }
  .team-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    img {
      margin-right: 6px;
      filter: grayscale(0%);
      object-fit: scale-down;
      height: 25px;
      width: 67px;
      max-height: 40px;
      margin-bottom: 0;
      z-index: 2;
      &:last-of-type {
        margin-right: 0
      }
    }
  }
}
.first, .second {
  position: absolute;
  transition: all .45s cubic-bezier(0.1, 1.59, 0.58, 1);;
  top: 88px;
  z-index: 1;
  img {
    object-fit: scale-down;
    width: 32px
  }
}
.team-name {
  text-align: center;
  font-size: 20px;
  color: #739EFF;
  margin-top: 0;
  margin-bottom: 8px
}
.team-job {
  text-align: center;
  font-size: 16px;
  color: #333;
  max-width: 230px;
  line-height: 1.5
}
@media screen and (max-width:1100px) {
  .team-row {
    width: 90%
  }
}
@media screen and (max-width: 600px) {
  #team {
    h1 {
      width: 90%;
      text-align: center;
    }
  }
}



